@model IEnumerable<EmployeeInformation.Models.EmployeeeData>

@{
    ViewData["Title"] = "EmployeeLists";
}

<h1>Your Company's EmployeeLists</h1>

<p>
    <a asp-action="AddEmployee" class="btn btn-info">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th  style="width:5%" rowspan="2">
                @Html.DisplayNameFor(model => model.EmployeeParentId)
            </th>
            <th  style="width:10%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width:25%">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th  style="width:10%">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th  style="width:10%">
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th style="width:10%">
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th style="width:30%">
                <td align="center">Actions</td>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-secondary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.EmployeeId" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
